.form-page {
  margin-top: 6rem;
}

.form-page h2,
.form-page p {
  text-align: center;
  margin-bottom: 1rem;
}

.form-page p {
  color: #7703fc;
}

.form-page form {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 12px;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-page label {
  color: #747990;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-page input,
.form-page textarea {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
}

.form-page input:focus,
.form-page textarea:focus{
  border: 1px solid #02b452;
  outline: none;  
}

.form-page input::placeholder {
  color: #a4a7b4;
}

.services-container {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 2rem;
}

.form-page .services-container {
  padding: 0;
}

.services-container .service {
  max-width: 24%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
  
}

.services-container .service img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.form-page .service {
  max-width: 29%;
  text-align: center;
}

.form-page .service p {
    margin-bottom: 0;
   
}

.form-page .checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}

.form-page .checkbox-container p {
    color: #747990;
    font-size: 0.9rem;
}

.form-page .service-name {
  font-weight: bold;
  text-align: left;
}

.form-page .service-price {
  color: #747990;
  text-align: left;
}

.divBtn{
    display: flex;
    justify-content:end;
}

.form-page .btn{
    max-width: 250px;
    font-size: 1.1rem;
    font-weight: 700;
}


