* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #f5f6fa;
}



a {
  color: #283252;
  text-decoration: none;
  font-weight: bold;
}

p {
  color: #747990;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #7703fc;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  transition: 0.4s;
  cursor: pointer;
  background-color: #9a47f8;
}

.btn-secondary {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #7703fc;
  border-radius: 0.5rem;
  border:none;
  border: 2px solid #7703fc;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
 
}

.btn-secondary:hover {
  border: 2px solid #9a47f8;
  box-sizing: border-box;
  color:#9a47f8;
}

